div.card{
    width: auto;
    max-width: 500px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 40px; /* Added */
    margin-top: 35px;
}

@media (max-width: 538px)
{
    div.card{
        max-width: 500px;
        margin: 10px 10px; /* Added */
    }
}

.container .navbar{
    width: auto;
    max-width: 500px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
}